body {
    font-family: Arial;
    padding: 40px;
    background: #f4f6f8;
}

h1 {
    color: #333;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}
